<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>
<%= link_to 'Edit', edit_user_shop_path(@user) %>
</br>
<%= link_to 'Destroy', user_shop_path(@user), method: :delete %>
</br>
<%= link_to 'Back to user', @user %>
