<div class="row" ng-controller="UserEditContoller" ng-init="init('<%= @user.id %>', 'edit')">
  <h1>User Edit Page</h1>

  <div user-form id="<%= @user.id %>"></div>

  <%= link_to 'Detail', @user %>
  <br/>
  <%= link_to 'Back', users_path %>
</div>
