<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<table ng-controller="UsersController as Users">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in users track by user._id.$oid">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td><a ng-href="users/{{user._id.$oid}}">Detail</a></td>
      <td><button ng-click="displayEditForm(user)">Edit</button></td>
      <td><a href='' ng-click="deleteUser(user._id.$oid)" class="remove_user">Remove</a></td>
      <td><div id="{{user._id.$oid}}" user-form ng-if="show == user._id.$oid"></div></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
