<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <div id='first_name'>
    <%= @user.first_name %>
  </div>
</p>

<p>
  <strong>Last name:</strong>
  <div id='last_name'>
    <%= @user.last_name %>
  </div>
</p>

<p>
  <strong>Age:</strong>
  <div id='age'>
    <%= @user.age %>
  </div>
</p>
<p>
  <strong>Gender:</strong>
  <div id='gender'>
    <%= @user.gender %>
  </div>
</p>

<% if @user.address.present? %>
  <p>
    <strong>Country:</strong>
    <div id='country'>
      <%= @user.address[:country] %>
    </div>
  </p>
 
  <p>
    <strong>Address 1:</strong>
    <div id='address_1'>
      <%= @user.address[:address_1] %>
    </div>
  </p>

  <p>
    <strong>Address 2:</strong>
    <div id='address_2'>
      <%= @user.address[:address_2] %>
    </div>
  </p>
<% end %>

<% if @user.shop.present? %>
  <%= link_to 'Shop info', user_shop_path(@user) %>
<% else %>
  <%= link_to 'New Shop', new_user_shop_path(@user) %>
<% end %>

<br>

<%= link_to 'Edit', edit_user_path(@user) %>

<br>

<%= link_to 'Back', users_path %>
