<form name="userForm">
  <div class="form-group" ng-class="{'has-error' : userForm.first_name.$invalid}">
    <label class="control-label col-md-3">First name<span class="required">* </span> </label>
    <div class="col-md-4">
      <input type="text" name="first_name" class="form-control" ng-value="user.first_name" ng-model="user.first_name" placeholder="first name"/>
    </div>
    <p ng-show=" userForm.first_name.$invalid" class="help-block">First name is required.</p>
  </div>

  <div class="form-group" ng-class="{'has-error' : userForm.last_name.$invalid}">
    <label class="control-label col-md-3">Last name<span class="required">* </span> </label>
    <div class="col-md-4">
      <input type="text" name="last_name" class="form-control" ng-value="user.last_name" ng-model="user.last_name" placeholder="last name"/>
    </div>
    <p ng-show="userForm.first_name.$invalid" class="help-block">Last name is required.</p>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3">Age</label>
    <div class="col-md-4">
      <input type="number" name="age" class="form-control" ng-model="user.age" placeholder="0"/>
    </div>
    <p ng-show="userForm.age.$invalid" class="help-block">Age is required.</p>
  </div> 

  <div class="form-group">
    <label class="control-label col-md-3">Gender</label>
    <div class="col-md-4">
      <select name="gender" ng-model="user.gender" class="form-control" required>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>
    <p ng-show="userForm.gender.$invalid" class="help-block">Gender is required.</p>
  </div> 

  <div class="form-group">
    <div class="pull-left">
      <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="submit()">Submit</button>
   </div>
  </div>
</form>
