<!DOCTYPE html>
<html>
  <head>
    <title>Blank</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="userapp">
    <%= yield %>
  </body>
</html>
